<section class="wpo-portfolio-section section-padding pt-0" id="gallery">
    <div class="container-fluid">
        <div class="wpo-section-title">
            <h4 class="poort-text poort-in-right">Nuestras fotos</h4>
            <h2 class="poort-text poort-in-right">
                Pronto estará aquí nuestras fotos de nuestra boda
            </h2>
        </div>
        <!-- <div class="gallery-main-wrap">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-6 order-lg-1 order-2">
                        <div class="gallery-side-img wow fadeInLeftSlow" data-wow-duration="1400ms">
                            <div class="img-holder">
                                <a href="/images/portfolio/1.jpg" class="fancybox"
                                    data-fancybox-group="gall-1">
                                    <img src="/images/portfolio/1.jpg" alt class="img img-responsive">
                                    <div class="hover-content">
                                        <i class="ti-plus"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 order-lg-2 order-3">
                        <div class="sortable-gallery">
                            <div class="row portfolio-grids style-1 clearfix">
                                <div class="col-lg-4 col-md-6 col-12 grid">
                                    <div class="img-holder wow fadeInUp" data-wow-duration="1000ms">
                                        <a href="/images/portfolio/3.jpg" class="fancybox"
                                            data-fancybox-group="gall-1">
                                            <img src="/images/portfolio/3.jpg" alt class="img img-responsive">
                                            <div class="hover-content">
                                                <i class="ti-plus"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-12 grid">
                                    <div class="img-holder wow fadeInUp" data-wow-duration="1200ms">
                                        <a href="/images/portfolio/4.jpg" class="fancybox"
                                            data-fancybox-group="gall-1">
                                            <img src="/images/portfolio/4.jpg" alt class="img img-responsive">
                                            <div class="hover-content">
                                                <i class="ti-plus"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-12 grid">
                                    <div class="img-holder wow fadeInUp" data-wow-duration="1400ms">
                                        <a href="/images/portfolio/5.jpg" class="fancybox"
                                            data-fancybox-group="gall-1">
                                            <img src="/images/portfolio/5.jpg" alt class="img img-responsive">
                                            <div class="hover-content">
                                                <i class="ti-plus"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-12 grid">
                                    <div class="img-holder wow fadeInUp" data-wow-duration="1000ms">
                                        <a href="/images/portfolio/6.jpg" class="fancybox"
                                            data-fancybox-group="gall-1">
                                            <img src="/images/portfolio/6.jpg" alt class="img img-responsive">
                                            <div class="hover-content">
                                                <i class="ti-plus"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-12 grid">
                                    <div class="img-holder wow fadeInUp" data-wow-duration="1200ms">
                                        <a href="/images/portfolio/7.jpg" class="fancybox"
                                            data-fancybox-group="gall-1">
                                            <img src="/images/portfolio/7.jpg" alt class="img img-responsive">
                                            <div class="hover-content">
                                                <i class="ti-plus"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-12 grid">
                                    <div class="img-holder wow fadeInUp" data-wow-duration="1400ms">
                                        <a href="/images/portfolio/8.jpg" class="fancybox"
                                            data-fancybox-group="gall-1">
                                            <img src="/images/portfolio/8.jpg" alt class="img img-responsive">
                                            <div class="hover-content">
                                                <i class="ti-plus"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 order-lg-3 order-2">
                        <div class="gallery-side-img wow fadeInRightSlow" data-wow-duration="1400ms">
                            <div class="img-holder">
                                <a href="/images/portfolio/2.jpg" class="fancybox"
                                    data-fancybox-group="gall-1">
                                    <img src="/images/portfolio/2.jpg" alt class="img img-responsive">
                                    <div class="hover-content">
                                        <i class="ti-plus"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
    </div>
    <!-- end container -->
</section>