<section class="wpo-story-section section-padding pb-0" id="story">
    <div class="container">
        <div class="wpo-section-title">
            <h4 class="poort-text poort-in-right">Nuestra historia</h4>
        </div>
        <div class="wpo-story-wrap">
            <div class="wpo-story-item">
                <div class="row">
                    <div class="col col-lg-6 col-12">
                        <div class="wpo-story-img">
                            <img src="/images/story/story-1.jpg" alt="" />
                        </div>
                    </div>
                    <div class="col col-lg-6 col-12">
                        <div class="wpo-story-content">
                            <div class="pin">
                                <img src="/images/story/pin.svg" alt="" />
                            </div>
                            <i><img src="/images/story/f-shape-1.png" alt="" /></i>
                            <h2>Nuestro primer encuentro</h2>
                            <span>27 Enero 2017</span>
                            <p>
                                Nos conocimos por casualidad en la universidad - ella en
                                control interno, él aspirando a estudiar Teología. Lo que
                                empezó como un simple trámite se convirtió en algo más.
                            </p>
                            <i><img src="/images/story/f-shape-2.png" alt="" /></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wpo-story-item">
                <div class="row">
                    <div class="col col-lg-6 col-12">
                        <div class="wpo-story-img">
                            <img src="/images/story/story-2.jpg" alt="" />
                        </div>
                    </div>
                    <div class="col col-lg-6 col-12">
                        <div class="wpo-story-content">
                            <div class="pin">
                                <img src="/images/story/pin.svg" alt="" />
                            </div>
                            <i><img src="/images/story/f-shape-1.png" alt="" /></i>
                            <h2>Nuestras primeras citas</h2>
                            <span>Abril 2018</span>
                            <p>
                                Desde aquella primera cita memorable en el Castillo de
                                Medellín, cada encuentro se convirtió en un nuevo capítulo
                                donde fuimos descubriendo, paso a paso, lo extraordinario
                                que había en cada uno.
                            </p>
                            <i><img src="/images/story/f-shape-2.png" alt="" /></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wpo-story-item">
                <div class="row">
                    <div class="col col-lg-6 col-12">
                        <div class="wpo-story-img">
                            <img src="/images/story/story-3.jpeg" alt="" />
                        </div>
                    </div>
                    <div class="col col-lg-6 col-12">
                        <div class="wpo-story-content">
                            <div class="pin">
                                <img src="/images/story/pin.svg" alt="" />
                            </div>
                            <i><img src="/images/story/f-shape-1.png" alt="" /></i>
                            <h2>Decidimos dar el siguiente paso</h2>
                            <span>Abril 2024</span>
                            <p>
                                Lo que comenzó como una historia se transformó en el más
                                dulce amor, descubriendo que nuestros caminos unidos
                                prometen una felicidad más plena y verdadera que cualquier
                                sendero en solitario.
                            </p>
                            <i><img src="/images/story/f-shape-2.png" alt="" /></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flower-shape-1">
        <div class="flower-sticky">
            <img src="/images/story/shape1.png" alt="" />
        </div>
    </div>
    <div class="flower-shape-2">
        <div class="flower-sticky">
            <img src="/images/story/shape2.png" alt="" />
        </div>
    </div>
</section>